<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Détails de la catégorie</title>
    <link rel="stylesheet" type="text/css" href="../../static/styles.css">
</head>
<body>
<div class="container">
    <h1>Détails de la catégorie</h1>
    <table>
        <tbody>
        <tr>
            <td>Nom:</td>
            <td th:text="${categorie.nom}"></td>
        </tr>
        <tr>
            <td>Livres:</td>
            <td>
                <ul>
                    <li th:each="livre : ${categorie.livres}">
                        <a th:href="@{/livres/details(id=${livre.id})}" th:text="${livre.titre}"></a>
                    </li>
                </ul>
            </td>
        </tr>
        </tbody>
    </table>
    <a th:href="@{/categories}" class="button">Retour</a>
</div>
</body>
</html>
