<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Liste des livres</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
<h1>Liste des livres</h1>
<table>
    <thead>
    <tr>
        <th>ID</th>
        <th>Titre</th>
        <th>Auteur</th>
        <th>Catégorie</th>
        <th>Action</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="livre : ${livres}">
        <td th:text="${livre.id}"></td>
        <td th:text="${livre.titre}"></td>
        <td th:text="${livre.auteur.nom} + ' ' + ${livre.auteur.prenom}"></td>
        <td th:text="${livre.categorie.nom}"></td>
        <td>
            <a th:href="@{/livres/{id}(id=${livre.id})}">Voir</a>
            <a th:href="@{/livres/{id}/edit(id=${livre.id})}">Modifier</a>
            <form th:action="@{/livres/{id}(id=${livre.id})}" method="post" style="display: inline;">
                <input type="hidden" name="_method" value="DELETE" />
                <button type="submit">Supprimer</button>
            </form>
        </td>
    </tr>
    </tbody>
</table>
<a href="/livres/new">Ajouter un livre</a>
</body>
</html>
