<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Edit Livre</title>
    <link rel="stylesheet" href="/css/styles.css"/>
</head>
<body>
<h1>Edit Livre</h1>
<form method="post" th:action="@{/livres/{id}(id=${livre.id})}" th:object="${livre}">
    <input type="hidden" th:field="*{id}"/>
    <label for="titre">Titre:</label>
    <input type="text" id="titre" name="titre" th:field="*{titre}" required/><br/><br/>
    <label for="auteur">Auteur:</label>
    <select id="auteur" name="auteur.id" required>
        <option th:each="auteur : ${auteurs}" th:value="${auteur.id}" th:selected="${auteur.id == livre.auteur.id}" th:text="${auteur.nom + ' ' + auteur.prenom}">Auteur</option>
    </select><br/><br/>
    <label for="categorie">Categorie:</label>
    <select id="categorie" name="categorie.id" required>
        <option th:each="categorie : ${categories}" th:value="${categorie.id}" th:selected="${categorie.id == livre.categorie.id}" th:text="${categorie.nom}">Categorie</option>
    </select><br/><br/>
    <input type="submit" value="Update"/>
</form>
</body>
</html>
