<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8"/>
    <title>Edit Emprunt</title>
    <link rel="stylesheet" type="text/css" href="/css/styles.css">
</head>

<body>
<h1>Edit Emprunt</h1>

<form method="POST" th:object="${emprunt}" th:action="@{/emprunts/{id}(id=${emprunt.getId()})}">
    <input type="hidden" th:field="*{id}"/>

    <div>
        <label for="dateEmprunt">Date Emprunt:</label>
        <input type="datetime-local" id="dateEmprunt" th:field="*{dateEmprunt}" required/>
    </div>

    <div>
        <label for="dateFinPrevue">Date Fin Prevue:</label>
        <input type="datetime-local" id="dateFinPrevue" th:field="*{dateFinPrevue}" required/>
    </div>

    <div>
        <label for="dateRetour">Date Retour:</label>
        <input type="datetime-local" id="dateRetour" th:field="*{dateRetour}" />
    </div>

    <div>
        <label for="adherent">Adherent:</label>
        <select id="adherent" name="adherent.id" th:field="*{adherent.id}" required>
            <option th:each="adherent : ${adherents}" th:value="${adherent.id}" th:text="${adherent.nom + ' ' + adherent.prenom}"
                    th:selected="${emprunt.adherent.id == adherent.id}"></option>
        </select>
    </div>

    <div>
        <label for="livre">Livre:</label>
        <select id="livre" name="livre.id" th:field="*{livre.id}" required>
            <option th:each="livre : ${livres}" th:value="${livre.id}" th:text="${livre.titre}"
                    th:selected="${emprunt.livre.id == livre.id}"></option>
        </select>
    </div>

    <button type="submit">Save</button>
</form>

<a href="/emprunts">Back to Emprunts list</a>
</body>

</html>
