<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Liste des Auteurs</title>
</head>
<body>
<h1>Liste des Auteurs</h1>

<table>
    <thead>
    <tr>
        <th>Nom</th>
        <th>Prénom</th>
        <th>Action</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="auteur : ${auteurs}">
        <td th:text="${auteur.nom}"></td>
        <td th:text="${auteur.prenom}"></td>
        <td>
            <a th:href="@{/auteurs/{id}/details(id=${auteur.id})}">Détails</a>
            <a th:href="@{/auteurs/{id}/edit(id=${auteur.id})}">Modifier</a>
            <form method="post" th:action="@{/auteurs/{id}/delete(id=${auteur.id})}">
                <button type="submit">Supprimer</button>
            </form>
        </td>
    </tr>
    </tbody>
</table>

<a href="/auteurs/create">Créer un nouvel auteur</a>

</body>
</html>
